<header id="site-header" class="{% if page.url contains '/video/' %}hidden lg:block{% else %}block{% endif %}" amp-fx="float-in-top" next-page-hide>
    <div id="site-header-bar">
        <a href="/" title="Home"><amp-img src="{{ site.main.logo }}" width="125" height="48" layout="fixed" alt="logo"></amp-img></a>
        <nav id="site-desktop-menu">
            {% for item in site.menu %}
            <a class="site-desktop-menu-items {% if item.url == page.url %}active{% endif %}" href="{{ item.url }}">
                {{ item.icon }}
                <p>{{ item.title }}</p>
            </a>
            {% endfor %}
            <div class="site-desktop-menu-items justify-self-end" role="button">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
            </div>
        </nav>
    </div>
</header>