---
permalink: index.html
layout: layout/layout
---
<div id="indexLayout">
    <!--Untuk Kamu-->
    {% assign recommended = collections.video | shuffle %}
    {% include 'components/index/carousel-item.liquid', carouselTitle: 'Mulai dari Sini', posts: recommended, amount: 12 %}

    <!--PKS TV-->
    {% assign pks_tv = collections.video | where: 'data.channel.name', 'PKSTV' | sort: 'data.publishedAt' | reverse %}
    {% include 'components/index/carousel-item.liquid', carouselTitle: 'Bersama Melayani Rakyat', posts: pks_tv, amount: 8 %}

    <!--PKS TV DPR_RI-->
    {% assign pks_tv_dpr = collections.video | where: 'data.channel.name', 'PKSTV DPR RI' | sort: 'data.publishedAt' | reverse %}
    {% include 'components/index/carousel-item.liquid', carouselTitle: 'Kabar Dari Senayan', posts: pks_tv_dpr, amount: 8 %}
    
    <!--Tokoh-->
    {% assign tokoh = collections.tokoh | sort: 'data.publishedAt' | reverse %}
    {% include 'components/index/carousel-item.liquid', carouselTitle: 'Para Pelayan Rakyat', posts: tokoh, amount: 8 %}

    <!--Ulama-->
    {% assign ulama = collections.ulama | sort: 'data.publishedAt' | reverse %}
    {% include 'components/index/carousel-item.liquid', carouselTitle: 'Taujih Guru Kita', posts: ulama, amount: 8 %}

    <!--Murottal-->
    {% assign murottal = collections.murottal | sort: 'data.publishedAt' | reverse %}
    {% include 'components/index/carousel-item.liquid', carouselTitle: 'Dengan Dzikir Tenanglah Hati', posts: murottal, amount: 8 %}

    <!--Milenial-->
    {% assign milenial = collections.milenial | sort: 'data.publishedAt' | reverse %}
    {% assign gamal = collections.video | where: 'data.channel.name', 'Gamal Albinsaid' | sort: 'data.publishedAt' | reverse %}
    {% assign milenial_all = milenial | concat: gamal | sort: 'data.publishedAt' | reverse %}
    {% include 'components/index/carousel-item.liquid', carouselTitle: 'Buat Kamu, Iya Kamu 💕', posts: milenial_all, amount: 8 %}

    <!--Daerah-->
    {% assign daerah = collections.daerah | sort: 'data.publishedAt' | reverse %}
    {% include 'components/index/carousel-item.liquid', carouselTitle: 'Berkhidmat di Seluruh Indonesia', posts: daerah, amount: 12 %}
</div>