---
permalink: "video/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber | plus: 1 | prepend: 'page-' }}{% else %}index{% endif %}.html"
layout: layout/layout
pagination:
    data: collections.video
    size: 20
    alias: posts
---
<div id="indexLayout">
    <div class="indexCarousel">
        {% for post in posts %}
        {% include 'components/index/videoItem' %}
        {% endfor %}
    </div>
</div>