---
layout: layout/layout
noheader: true
---
<div id="blankpage">
    <amp-img src="{{ site.main.logo }}" width="400" height="154" layout="intrinsic" alt="{{ title }}"></amp-img>
    <h1>{{ title }}</h1>
</div>