---
layout: layout/base
---
<header id="site-header" class="{% if page.url contains '/v/' %}hidden lg:block{% else %}block{% endif %}" amp-fx="float-in-top">
    <div id="site-header-bar">
        <a href="/" title="Home"><amp-img src="/img/logo/logo.png" width="125" height="48" layout="fixed" alt="logo"></amp-img></a>
    </div>
</header>
<main id="site-main">
    {{ content }}
</main>
<footer id="site-footer"></footer>
<nav id="site-mobile-menu">
    {% for item in site.menu %}
    <div class="site-mobile-menu-items">
        <a href="{{ item.url }}">{{ item.icon }}</a>
        <p>{{ item.title }}</p>
    </div>
    {% endfor %}
</nav>
{% include 'components/install-sw' %}